/* styles.css */




body,
html {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0px;
    height: 100%;

}
a{
    color:#2C34C9;
    text-decoration: none;
}


  
  

.mensagem-nav {
    font-size: 14px;
    color: white;
    margin-left: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
  }
  
  .mensagem-nav a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    
  }

  .tabela-relatorio td:first-child {
    text-transform: lowercase;
  }

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flexC {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    /* ⬅️ alinha tudo à direita */

}

.flexJ {
    
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    /* ⬅️ alinha tudo à direita */

}

#arquivo{
    width: 345px;
}

.cnpj-c{
    margin-left: 42px;
    margin-right: 36px;
}

.flexD {
    display: flex;

    width: 100%;
    align-items: flex-end;
    /* ⬅️ alinha tudo à direita */
    padding-left: 20px;
}

.flexDireita{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

#filtroCliente{
  width: 150px;
}
.flex-esquerda {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* alinhado à esquerda */
    align-items: center;         /* centralizado verticalmente */
    margin-bottom: 12px;
  }

  #statusEditavel{
    
    width: 150px;
  }
  
  #cadastrar_razao{
    height: 44px;
    margin-top: 15px;
  }


.logoNaoAutorizado{
    width: 257px;
}

.flexG {
    display: flex;
    width: 100%;
    justify-content: flex-end; /* Alinha os itens à direita horizontalmente */
    align-items: flex-end;     /* Alinha os itens à base verticalmente */
    padding-left: 20px;        /* Pode remover se estiver deslocando para a esquerda */
    padding-right: 10px;
}



.flexF {
    display: flex;
    justify-content: flex-end;
    /* alinha o conteúdo ao lado direito */
    width: 100%;
    align-items: center;
    /* alinha verticalmente ao centro */
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    /* espaço entre label e checkbox */
}

.centro div {
    min-width: none;
}



.alterar {
    margin-left: 20px !important;
    margin-top: 34px;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; /* ← adiciona essa linha */
    justify-content: center;
    align-items: center;    /* centraliza os filhos no eixo horizontal */
    margin-top: 25px;
    margin-bottom: 40px;
}

.contentD {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* ← adiciona essa linha */
  justify-content: center;
  align-items: center;    /* centraliza os filhos no eixo horizontal */
  margin-top: 5px;
  margin-bottom: 5px;
}


#tabela-relatorio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
}

#mensagem-relatorio {
    text-align: center;
    /* centraliza o conteúdo interno */
}


.centro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 18px;
    flex: 1;
    /* Adicionado para ocupar o espaço restante */
}

.div-extremidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.tituloH, .tituloDashboard {
    text-align: left;
    font-size: 25px;
}

.tituloDashboard{
 color: whitesmoke;
}
.tituloHB {
  text-align: left;
  font-size: 25px;
  margin-top: 32px;
  margin-left: 40px;
}

.buscar{
  width: 287px;
  margin-top: 26px;
  margin-left: 28px;
  display: flex;
}

.lupa{
  font-size: 28px;
  margin-left: 12px;
  margin-top: 20px;
  color: #666;
  transform: translateY(-50%);
  cursor: pointer; /* mãozinha no mouse */
  transition: all 0.3s ease; /* animação suave */
}

.lupa:hover {
  transform: translateY(-50%) scale(1.2); /* aumenta um pouquinho */
  color: #2C34C9; /* muda para o azul do seu sistema */
}


  #atualizar {
    color: #5d0092;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transição suave */
  }

  #atualizar:hover {
    color: #2f37d6; /* Cor ao passar o mouse */

  }




.container {
    width: 1200px;
    
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.containerRelatorio {
    min-width: 1024px;
    max-width: 1250px;
    width: 100%;
    background: white;
    padding: 20px;
    
    
    margin-top: 5px;
}

.fundoDashboard{
  background-color: #333554;
}

.containerB {
    max-width: 90%;
    width: 100%;
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    min-height: 76vh;
}

.containerC{
  max-width: 90%;
  width: 100%;
  background: #1F1F2F;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  min-height: 76vh;
}



.cliente-card {
    display: flex;
    align-items: center;
    /* Alinha verticalmente */
    gap: 10px;
    /* Espaço entre os elementos */
}

.cnpj {
    flex: 1;
    /* Faz a div do CNPJ ocupar o espaço restante */
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Espaço entre o label e o checkbox */
    margin-right: 50px;
    margin-top: 36px;
}

.check input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
}

.flex {
    display: flex;
    gap: 20px;
    /* espaço entre os elementos */
    flex-wrap: wrap;
    /* para responsividade */
}

.flexB {
    display: flex;
    gap: 20px;


    justify-content: flex-end;
    align-items: flex-start;
}




.filho {
    flex: 1;
    /* faz os filhos dividirem o espaço igualmente */
    min-width: 200px;
    /* impede que fiquem muito estreitos em telas pequenas */
    margin-right: 5px;
    margin-left: 5px;
}



h1 {
    color: #2C34C9;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;

}

label {
   
    text-align: left;
    display: block;
    color: #7e7d7d;
    font-size: 14px;
    margin: 10px;
    
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.7s ease;
    outline: none;
  }

  .nao_logado{
    width: 40%;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #640fd3; /* roxa */
  }

button {
    background-color: #640fd3;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}



button:hover {
    background-color: #40048d;
}

.fechar {
    background-color: #640fd3;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-family: Arial, sans-serif;
   
}

.fechar:hover {
    background-color: #640fd3;
}


.desativado:disabled {
    background-color: #aaa;
    width: 150px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}



.menu {
    padding: 0;
}



#sugestoes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 950px;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 325px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}
.grafana{
    margin: 8px;
    color: #581ea5;
}

a {
    text-decoration: none;
  }

#sugestoes div {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    /* Alinha o texto das sugestões à esquerda */
    font-size: 14px;
    width: 100%;
    /* Garante que as sugestões ocupem toda a largura da div pai */
}

#sugestoesB {
    position: absolute;
    top: 100%;
    left: -351px;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 500px;
    min-width: 950px;
    overflow-y: hidden;
    overflow-x: hidden;;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }



  

  #sugestoesB div {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    /* Alinha o texto das sugestões à esquerda */
    font-size: 14px;
    width: 100%;
    /* Garante que as sugestões ocupem toda a largura da div pai */
  }
  
  #sugestoesB div:hover {
    background-color: #f0f0f0;
  }

#sugestoes div:hover {
    background: #f0f0f0;
    /* Adiciona um efeito ao passar o mouse */
}

#descricao {
    height: 110px;
    /* Ajuste conforme necessário */
    width: 100%;
    /* Garante que ocupe toda a largura disponível */
    resize: vertical;
    /* Permite que o usuário ajuste manualmente */
    font-family: Arial, sans-serif;
}

.sugestoes-lista {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 400px;
    min-width: 400px;
    overflow-y: auto;
    z-index: 1000;
  }

  .sugestoes-lista div {
    padding: 8px;
    cursor: pointer;
  }

  .sugestoes-lista div:hover {
    background-color: #f0f0f0;
  }

.sugestoes-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.botao-desativado {
    background-color: #4a4a4a;
    /* Cinza escuro */
    color: white;
    cursor: not-allowed;
    /* Mostra que o botão está desativado */
    opacity: 0.6;
    /* Deixa o botão visualmente desativado */
    pointer-events: none;
    /* Impede qualquer clique no botão */
}

#sugestoesMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

#sugestoesMenu div {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    width: 100%;
}

#sugestoesMenu div:hover {
    background: #f0f0f0;
}




.novo_fechar {
    display: none;
}

/* botao ler */

.ler {
    background-color: #007bff;
    color: white;
    padding: 10px;

    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100px !important;
    /* Define uma largura fixa */
    text-align: center;
}

.ler:hover {
    background-color: #61a3eb;
}

.botao_ler {
    display: flex;
    justify-content: flex-start;
    /* Alinha o conteúdo à esquerda */
}

.texto-oculto {
    display: none;
    /* Oculta as divs inicialmente */
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    position: fixed;
    /* Fixa a div na tela */
    left: 20px;
    /* Mantém no lado esquerdo */
    top: 100px;
    /* Mantém no topo da tela */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
    z-index: 1000;
    /* Garante que fique sobre os outros elementos */
}

#fecharTexto,
#fecharDuvida {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    /* Faz o botão ocupar toda a largura disponível */
    text-align: left;
    /* Alinha o texto dentro do botão à esquerda */
}

#fecharTexto:hover,
#fecharDuvida:hover {
    background-color: #61a3eb;
}

.sugestoes-container-botoes {
    display: flex;
    justify-content: flex-end;
   
    flex-wrap: wrap;
    /* permite quebrar linha se não couber */
}

.botao-cadastrar {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

/* CSS da Navbar */

nav {
    width: 100%;
    height: 90px;
    
    /* ainda garante altura mínima */
    background-color: #2C34C9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ISSO JÁ FUNCIONA PARA EXTREMOS */

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;

}



.botao_menu {
    background-color: #2C34C9;
    width: auto;
    color: white;
    font-weight: 500;
    padding: 37px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s;
    margin: 0px;
    border: none;
    text-decoration: none;


}

.botao_menu:hover {
    background-color: #181D77;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.botoes_flex {
    display: flex;
    gap: 0px;
    /* espaço entre os botões, ajuste se quiser colado (use 0) */
    justify-content: flex-start;
    /* ou center, se quiser centralizado */
    flex-wrap: wrap;
    /* quebra linha em telas menores */
    justify-content: flex-end;
    /* <-- alinha os botões à direita */
    margin-top: 10px;
}

.menu {

    height: 100%;
    display: flex;
    padding: 0;
    gap: 0;
    /* remove espaço entre os botões */
}

.logo img {
    width: 200px;
    height: 40px;
    object-fit: contain;
   
    /* mantém a proporção sem esticar */
}

.logo{
    margin-right: 20px;
    margin-bottom: 5px;
}

/* Rodapé */

footer {
    width: 100%;
    background-color: #2C34C9;
    /* mesma cor da navbar */
    color: white;
    text-align: center;
    padding: 15px 0;

    z-index: 999;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    font-size: 14px;

}


.div-imagem {
    text-align: center;
    padding: 10px;
}

.div-imagem img {
    max-width: 100%;
    height: auto;
}

/* Estilo da Tabela */

table.tabela-relatorio {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

table.tabela-relatorio th {
    background-color: #2C34C9;
    color: white;
    padding: 12px 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

table.tabela-relatorio td {
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    color: #333;
}

table.tabela-relatorio tr:hover {
    background-color: #f9f9f9;
}

table.tabela-relatorio td:last-child,
table.tabela-relatorio th:last-child {
    white-space: nowrap;
}

#sairLink img {
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  #sairLink img:hover {
    opacity: 0.7;
  }

  .usuarioSair{
    max-width: 223px !important;
  
  }



  .imagem_sair{
    width: 35px !important;
    padding-left: 10px;
  }

  .date{
    margin-right: 38px;
  }

table.tabela-relatorio th {
    text-transform: capitalize;
}

.tabela-relatorio td:first-child {
    text-transform: capitalize;
  }

.tabela-relatorio td:nth-child(1) {
    text-transform: lowercase !important;
}

.form-flex-container {
    min-width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-right: 43px;
}

.alterarCliente{
    margin-right: 30px;
}

.form-flex {
    min-width: 451px;
}


.formFlex {
    width: 370px;
    display: flex;
}

.formFlexB {
    width: 100%;
    display: flex;
}

#tenant {
    padding: 12px 9px 12px 9px;
    width: 300px !important;
}

.botao-link {
    background-color: #ffffff54;
    color: rgb(52, 0, 240);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
  }
  
  .botao-link:hover {
    background-color: #ffffff00;
  }
  
  .botao-desativado:disabled {
    background-color: #4a4a4a; /* Cinza escuro */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    opacity: 0.6;
    cursor: not-allowed;
  }

  /* Modal do relatório */

  .modal-locsis {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal{
    display:none;
    position:fixed; top:0; left:0; right:0; bottom:0; 
    background:rgba(0,0,0,0.5); 
    justify-content:center; 
    align-items:center; 
    z-index:999;
  }
  .conteudoModal{
    background:#fff; 
    
    max-width:1000px; 
    width:90%; max-height:90vh; 
    overflow:auto;
  }
  
  .modal-locsis-conteudo {
    background: white;
       
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  .flexModal{
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* para quebrar a linha se não couber */
    gap: 10px; /* espaço entre os itens */
    align-items: center; /* alinha verticalmente ao centro */
  }
  

  .modal-body {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    font-size: 14px;
    color: #444;
  }
  
  .modal-locsis-header {
    background: #2C34C9;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .modal-locsis-header h2 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
  }
  
  .modal-locsis-fechar {
    font-size: 20px;
    cursor: pointer;
    color: #666;
  }
  
  .modal-locsis-fechar:hover {
    color: #000;
  }
  
  .modal-locsis-body {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    font-size: 14px;
    color: #444;
  }
  
  .modal-locsis-body p {
    margin: 0;
  }
  
  .modal-locsis-body strong {
    display: block;
    margin-bottom: 4px;
    color: #2C34C9;
    
  }
  
  .modal-locsis-footer {
    padding: 15px 20px;
    text-align: right;
    border-top: 1px solid #eee;
    background: #f9f9f9;
  }
  
  .modal-btn {
    padding: 8px 16px;
    background-color: #2C34C9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .modal-btn:hover {
    background-color: #181D77;
  }

  .alinha-direita {
    display: flex !important;
    justify-content: flex-end;
    padding: 0 20px 20px 0; /* margem interna pra afastar da borda */
  }

  /* Modal cadastro de razao */

  .modal-mod {
    width: 1060px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    background: #2C34C9;
    color: white;
    padding: 10px;
   
    margin-bottom: 20px;
    font-size: 20px;
  }

  .flexModal {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }


  .modal-footer {
    right: 50px !important;
    text-align: right;
  }

  .modal-btn {
    background: #2C34C9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-btn:hover {
    background: #181D77;
  }

  .campo{
    padding-right: 40px;
  }

  .conteudoModalB{
    background:#fff;  
     
    max-height:90vh; 
    overflow:auto;
  }

  .inputGrande{
    width: 530px;
  }

  .inputMedio{
    width: 350px;
  }

  .checkboxRazao{    
    width: 21px;
    height: 25px;     
  }

  .campoB{
    padding-right: 40px;
    padding-top: 25px;
  }

  .observacaoRazao{
    height: 88px;
  }

  .desativarBotao {
    background-color: #4a4a4a;
    /* Cinza escuro */
    color: white;
    cursor: not-allowed;
    /* Mostra que o botão está desativado */
    opacity: 0.6;
    /* Deixa o botão visualmente desativado */
    pointer-events: none;
    /* Impede qualquer clique no botão */
  }

  /*sugestoes do campo input d cadastrar razao*/

  .sugestoesContainer {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    top: 100%; /* Posiciona logo abaixo do input */
    left: 0;
  }
  
  .sugestao-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .sugestao-item:hover {
    background-color: #f0f0f0;
  }


/* contador clientes */

.display-container {
  background-color: #2C34C9; /* fundo preto */
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  margin-left: 0px;
  width: 100px;
}

.display {
  
  font-size: 20px;
  color: white; /* números brancos */
  letter-spacing: 5px;
  text-align: center;
}

/* Dashboard */

.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36% 70%;
  gap: 12px;
  height: 89%;
}


.bloco-dashboard {
 
  border: 2px solid rgba(255, 255, 255, 0.178);
  border-radius: 4px;
  min-height: 200px; /* ajuste conforme desejar */
  padding: 10px;
  color: white;
}

.bloco-dashboardB {
  display: flex;
 
  padding: 10px;
  color: white;
  min-height: 200px;
  gap: 10px;
}
.bloco-dashboardC {
 

  min-height: 200px; /* ajuste conforme desejar */
  padding: 10px;
  color: white;
}

.divDashboard {
  display: flex;
  flex-direction: column;
  height: 92vh; /* ou outra unidade baseada em viewport */
}


.containerC {
  display: flex;
  flex-direction: column;
  min-height: 76vh; /* já está ótimo */
}

/* style da tabela cards aberto*/
.tabela-simples {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}



.tabela-simples td {
  border-bottom: 1px solid white;
  padding: 8px;
  color: white;
}

.tabela-simples tr td:first-child {
  width: 80%;
}

.tabela-simples tr td:last-child {
  width: 20%;
  text-align: right; /* opcional */
}

.corLetras{
  color: whitesmoke;
  font-size: 20px;
}

.corLetrasB {
  color: whitesmoke;
  font-size: 30px;
  animation: luz-pulsante 1.8s infinite ease-in-out;
}

@keyframes luz-pulsante {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}



.sub-bloco70, .sub-bloco30 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  height: 100%;
}

.sub-bloco70 {
  flex: 7;

  display: flex;
  flex-direction: column;
  gap: 10px;
}



.topo70 {
  flex: 2;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.base70 {
  flex: 8;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.personagem{
  width: 60%;
}

.sub-bloco30 {
  flex: 3;
 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metade30B {
  flex: 1;
  background-color: #0000FF;
 
 /* border: 2px solid red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  
}

.metade30A {
  flex: 1;
  background-color: #0066FF;
  
  /*border: 2px solid rgb(0, 20, 0);*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

.wrapperDiv {
  display: flex;
  flex-direction: column;
  height: 100%; /* ou defina uma altura exata, ex: 200px */
}

.metade30A {
  flex: 2; /* 20% */
 
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.metade30B {
  flex: 8; /* 80% */
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.sub-bloco30 {
  display: flex;
  height: 100%; /* necessário para aplicar proporção corretamente */
  gap: 10px;
}

.metade30A,
.metade30B {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
  overflow: hidden;
  min-width: 140px;
}

.topo {
  flex: 2;
  width: 100%;
  
  display: flex;
  align-items: flex-start;     /* alinha ao topo */
  justify-content: flex-start; /* alinha à esquerda */
  
  font-weight: bold;
  font-size: 15px;
  padding: 10px; /* espaçamento interno */
}


.base {
  flex: 8;
  
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-size: 55px;
}

canvas {
  max-width: 100%;
  max-height: 84%;
  color: #b27bfa;
}

.razao-social {
  max-width: 400px;        /* ajuste conforme necessário */
  white-space: nowrap;     /* impede quebra de linha */
  overflow: hidden;        /* esconde o que passar */
  text-overflow: ellipsis; /* adiciona os ... */
}

@keyframes luz-pulsante {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.barra-piscando {
  animation: luz-pulsante 1.5s infinite ease-in-out;
}













