body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
}

/* Cria a animação apenas no fundo */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-image: url('/imagens/fundo.png');
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;

  opacity: 0;
  animation: fadeInBackground 1s ease-in-out forwards;
  z-index: -1; /* Fica atrás de todo o conteúdo */
}

/* Animação fade-in suave */
@keyframes fadeInBackground {
  to {
    opacity: 1;
  }
}

  .flex{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* Caixa de login */
  .login-box {
    background-color: #2C34C9;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    width: 250px;    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* Título */
  .login-box h1 {   
    color: #ffffff;
  }

  .esquerdo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  p {
    font-size: 18px;
    color: #ccc;
    margin-top: 0px !important;
    margin-bottom: 35px;
  }
  
  /* Inputs */
  .login-box input {
    width: 78%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
  }
  
  /* Botão */
  .login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #31C724;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background 0.3s;
  }
  
  .login-box button:hover {
    background: #69cf5f;
  }
  
  /* Link de esqueci a senha */
  a {
    
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Centralizar verticalmente */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home{
    width: 100%;
  }

  .input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 20px;
    pointer-events: none;
  }
  
  .input-wrapper input {
    padding-left: 40px !important; /* Espaço para o ícone */
  }
  