/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.cliente-card {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre os elementos */
}

.cnpj {
    flex: 1; /* Faz a div do CNPJ ocupar o espaço restante */
}

.check {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o label e o checkbox */
    margin-right: 50px;
    margin-bottom: 15px;
}

.check input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
}



.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    text-align: left;
    display: block;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#sugestoes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#sugestoes div {
    padding: 8px;
    cursor: pointer;
    text-align: left; /* Alinha o texto das sugestões à esquerda */
    font-size: 14px;
    width: 100%; /* Garante que as sugestões ocupem toda a largura da div pai */
}

#sugestoes div:hover {
    background: #f0f0f0; /* Adiciona um efeito ao passar o mouse */
}

#descricao {
    height: 200px; /* Ajuste conforme necessário */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    resize: vertical; /* Permite que o usuário ajuste manualmente */
}

.sugestoes-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.botao-desativado {
    background-color: #4a4a4a; /* Cinza escuro */
    color: white;
    cursor: not-allowed; /* Mostra que o botão está desativado */
    opacity: 0.6; /* Deixa o botão visualmente desativado */
    pointer-events: none; /* Impede qualquer clique no botão */
}

#sugestoesMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#sugestoesMenu div {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    width: 100%;
}

#sugestoesMenu div:hover {
    background: #f0f0f0;
}


.novo_fechar button {
    display: block;
    width: 100%; /* Opcional: faz os botões ocuparem a largura total */
    margin-bottom: 10px; /* Espaço entre os botões */
}

.novo_fechar {
    display: none;
}

/* botao ler */

.ler {
    background-color: #007bff;
    color: white;
    padding: 10px;
   
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100px !important; /* Define uma largura fixa */
    text-align: center;
}

.ler:hover {
    background-color: #61a3eb;
}

.botao_ler {
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}

.texto-oculto {
    display: none; /* Oculta as divs inicialmente */
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    position: fixed; /* Fixa a div na tela */
    left: 20px; /* Mantém no lado esquerdo */
    top: 100px; /* Mantém no topo da tela */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
    z-index: 1000; /* Garante que fique sobre os outros elementos */
}

#fecharTexto, #fecharDuvida {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block; /* Faz o botão ocupar toda a largura disponível */
    text-align: left; /* Alinha o texto dentro do botão à esquerda */
}

#fecharTexto:hover, #fecharDuvida:hover {
    background-color: #61a3eb;
}